@* razor components *@

@page "/save"

<div class="maui-navbar text-white">

    <NavLink href="/save" Class="text-white text-decoration-none m-0 p-0" title="Add">
        <i class="bx bx-x bx-sm">
        </i>
    </NavLink>

    <div class="">
        <h5 class="m-0">Save Note</h5>
    </div>

    <NavLink href="/save" Class="text-white add-note-btn btn-defualt m-0" title="Add">
        <i class="bx bx-check bx-sm">
        </i>
    </NavLink>
</div>

@code {

}
